{{ define "main" }}

<section class="page-header course-single-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="post-meta">
          <ul>
            <li>
              <img src="{{ .Params.courseThumb | absURL }}" alt="author-thumb" />
            </li>        
          </ul>
        </div>
        <h2>
          {{ .Title }}   
        </h2>
      </div>
    </div>
  </div>
</section>

<section class="course-single">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <article class="course-single-post">
          <div class="post-author">
            <div class="meta">
              <span><b>DATE: </b>{{ .Params.course_date }}</span>
            </br>
              <span><b>TIME: </b>{{ .Params.course_time }}</span>  
            </br> 
              <span><b>LOCATION: </b>{{ .Params.location }}</span>
            </br> 
              <span><b>PRICE: </b>{{ .Params.fee }}€ excl. VAT</span>
            </br> 
          </br> 
            </div>
          </div>
          {{ .Content }}
          <div class="meta">
            <span><b>DATE: </b>{{ .Params.course_date }}</span>
          </br>
            <span><b>TIME: </b>{{ .Params.course_time }}</span>  
          </br> 
            <span><b>LOCATION: </b>{{ .Params.location }}</span>
          </br> 
            <span><b>PRICE: </b>{{ .Params.fee }} € excl. VAT</span>
          </br> 
        </br> 
        <a href="{{ .Params.Apply_url | safeURL }}" class="btn btn-primary-filled small">{{ .Params.button_text }}
        </a><br><br>
        <a href="/courses" class="btn btn-primary-filled small">Back to Courses</a>  
          </div>
          </article>
      </div>
    </div>
  </div>
  
</section>


{{ partial "terms.html" . }}
{{ end }}